.hide-me {
    display: none;
}

.show-me {
    display: block;
}

html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
    max-height: 70px;
  }